includes:
    - ./vendor/larastan/larastan/extension.neon
parameters:

    paths:
        - app/
        - database/

    level: 5

    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany::[a-zA-Z_]+\(\)#'
